.btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.search {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

